doctype html
html(lang = 'en')
	head
		title= title
		meta(chatset = 'utf-8')
		link(rel='stylesheet',href='/stylesheets/style.css')
	body
		header
		.container
			.main-content
				block content
		footer